#anonifybrowser-toolbarbutton {
	list-style-image: url("chrome://anonifybrowser/skin/ico/logo-2.png");
}
#anonifybrowser-toolbarbutton[enabled="false"] {
    filter: url("chrome://mozapps/skin/extensions/extensions.svg#greyscale");
}

#anonifybrowser-toolbarbutton-os-menulist,#anonifybrowser-toolbarbutton-osver-menulist{
	list-style-image: none;
	vertical-align: middle;
}

#anonifybrowser-panel{
	padding: 10px;
	border-radius: 5px;
}

#anonifybrowser-toolbarbutton-osver-menulist-label,#anonifybrowser-toolbarbutton-os-menulist-label{
	font-size: 15px;
}